<div class="flex bg-orange-200 justify-center items-center h-screen">

  <div class= " bg-white w-full max-w-md mx-2 h-[60vh] rounded-xl p-4">
    <h3 class="text-xl mt-2">Chat App</h3>
    <div class="chatbox rounded-lg h-[40vh] w-full flex flex-col border border-gray-300 gap-2 px-2 py-4 my-4 overflow-auto">
      <p class="px-2 py-1 bg-orange-200 self-end rounded-lg">test</p>
      <p class="px-2 py-1 bg-orange-200 self-start rounded-lg">test 2</p>
    </div>
    <div class="message flex justify-between">
      <input class="rounded-lg border border-gray-300 flex-1 mr-2" type="text">
      <button class="rounded-lg bg-orange-300 px-2 py-1">Kirim</button>
    </div>
  
  </div>
</div>
